snippet shebang "shebang"
#!/usr/bin/env bash
#!/bin/sh
endsnippet

snippet heredoc "heredoc"
cat > FILE <<EOF
content
EOF
endsnippet

snippet loopwhile "loopwhile"
while true; do
  echo 1
done
endsnippet
