* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* sway mode */
#mode {
  background-color: Tomato;
  border-bottom: 3px solid Tomato;
}

/* all event boxes */
#waybar > * > :last-child > * {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

/* all event box contents, clock etc. */
#waybar > * > :last-child > * > * {
  padding: 0 20px;
  margin: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: #ffffff;
}

#workspaces button {
  border: none;
  border-radius: 0;
  padding: 0 20px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid white;
}

#workspaces button.focused {
  background-color: rgba(0,0,0,0.4);
  border-bottom: 3px solid white;
}

#temperature.critical {
  background-color: Tomato;
}

#tray {
  background-color: Tomato;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-screenshot,
#custom-screenshot-swappy,
#custom-screenclip,
#custom-screenclip-slurp,
#custom-nightmode {
  background-color: black;
  padding: 0 10px;
}
#custom-screenclip.active {
  background-color: Tomato;
}

#custom-cameracheck {
  padding: 0 10px;
}
#custom-cameracheck.active {
  background-color: Tomato;
}
#custom-cameracheck.missing {
  background-color: CornflowerBlue;
}
