---
- name: "Desktop"
  hosts: "*"
  vars:
    username: charlieegan3
    ansible_python_interpreter: /usr/bin/python3
    GOROOT: /usr/lib/golang/
    GOPATH: /home/charlieegan3/Code/go
    GO111MODULE: "on"
  tasks:
  - name: home-dir
    import_tasks: tasks/home-dir.yaml
  - name: misc admin tasks
    import_tasks: tasks/misc.yaml
  - name: repositories
    import_tasks: tasks/repositories.yaml
  - name: install packages
    import_tasks: tasks/packages.yaml
  - name: remove-packages
    import_tasks: tasks/remove-packages.yaml
  - name: flatpaks
    import_tasks: tasks/flatpaks.yaml
  - name: kernel-modules
    import_tasks: tasks/kernel-modules.yaml
  # needs: golang
  - name: tools
    import_tasks: tasks/tools.yaml
  # needs: golang, home .config
  - name: vim
    import_tasks: tasks/tools.yaml
